fastapi
uvicorn
pydantic
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-ollama
langgraph
langsmith
supabase>=2.0.0
gotrue>=2.0.0
python-dotenv
fastembed
requests
beautifulsoup4
langchain-text-splitters
langchain-huggingface
pypdf
sentence-transformers
psycopg2-binary
httpx
playwright
unstructured
langdetect
