fastapi
uvicorn
pydantic
langchain-community
langchain-core
langchain-groq
supabase==2.20.0
python-dotenv
fastembed
requests
beautifulsoup4
langchain-text-splitters
langchain-huggingface
pypdf
sentence-transformers
psycopg2-binary
httpx==0.28.1
playwright
unstructured
langdetect
