
> CREATE OR REPLACE FUNCTION search_similar_documents(
      query_embedding vector,
      match_threshold REAL DEFAULT 0.3,
      match_count INTEGER DEFAULT 5
  )
  RETURNS TABLE (
      id UUID,
      content TEXT,
      source_url TEXT,
      chunk_index INTEGER,
      metadata JSONB,
      similarity REAL
  )
  LANGUAGE plpgsql
  AS $$
  BEGIN
      RETURN QUERY
      SELECT 
          dc.id,
          dc.content,
          dc.source_url,
          dc.chunk_index,
          dc.metadata,
          1 - (dc.embedding <=> query_embedding) AS similarity
      FROM document_chunks dc
      WHERE dc.embedding IS NOT NULL
          AND dc.is_processed = TRUE
          AND 1 - (dc.embedding <=> query_embedding) > match_threshold
      ORDER BY dc.embedding <=> query_embedding
      LIMIT match_count;
  END;


